body {
  margin: 0;
  background-color: black; /* Set the background to black */
}

.page {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start; /* Adjust the alignment as needed */
  scroll-snap-stop: always; /* Ensure the snapping behavior */
  scroll-snap-type: y mandatory; /* Snap scrolling to each page */
  scroll-behavior: smooth; /* Smooth scrolling between pages */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
